@font-face {
    font-family: 'Adamina';
    src: url('../fonts/Adamina-Regular.ttf');
}

@font-face {
    font-family: 'Red Hat Text';
    src: url('../fonts/RedHatText-Regular.ttf');
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: "Red Hat Text";
    font-size: 14px;
    line-height: 1.7;
    color: #1f1834;
    background-color: #EAECF0;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

h1 {
    font-family: Adamina, serif;
}

div#prompt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

div#radio-input {
    display: flex;
    flex-direction: row;
    padding-right: 10px;
}

div#radio-input input {
    padding-right: 10px;
}

div#radio-input label {
    padding-right: 10px;
}

/* Hidden form */
.textInputDiv{
	display: none;
    padding: 10px;
}

.textInputDiv input {
    padding: 5px;
    margin-bottom: 10px;
}

/* .banner {
} */

div#footer {
    position: absolute;
    bottom: 0;
}

div#footer a {
    font-family: "Red Hat Text";
    color: #0744AD;
    text-decoration: none;
}
